In [20]:
# Mixed Doubles Curling – Opening Shot Analysis

## 1. Setup
# - Imports
# - File paths
# - Constants

## 2. Load Data
# - Read CSVs
# - Column inspection

## 3. Data Merging
# - Stones + Ends
# - Validation checks

## 4. Opening 3 Shot Extraction
# - team_shot_index
# - Filtering

## 5. Feature Engineering
# - Stones in house
# - Shot survival
# - Shot sequence encoding

## 6. Power Play vs Non-Power Play
# - Split
# - Comparison plots

## 7. Results & Insights
# - Tables
# - Visuals
# - Interpretation

In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import seaborn as sns

pd.set_option("display.max_columns", None)

In [22]:

stones = pd.read_csv("../data/2026-main/stones_with_hammer.csv")
ends = pd.read_csv("../data/2026-main/Ends.csv")
games = pd.read_csv("../data/2026-main/Games.csv")
teams = pd.read_csv("../data/2026-main/Teams.csv")

stones.head(10)

,CompetitionID,SessionID,GameID,EndID,ShotID,TeamID,PlayerID,Task,Handle,Points,TimeOut,stone_1_x,stone_1_y,stone_2_x,stone_2_y,stone_3_x,stone_3_y,stone_4_x,stone_4_y,stone_5_x,stone_5_y,stone_6_x,stone_6_y,stone_7_x,stone_7_y,stone_8_x,stone_8_y,stone_9_x,stone_9_y,stone_10_x,stone_10_y,stone_11_x,stone_11_y,stone_12_x,stone_12_y,Hammer_TeamID,Has_Hammer
0,0,1,1,1,7,19,1,0,0,0,NaN,750.0,1916.0,4095.0,4095.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,750.0,650.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27,0
1,0,1,1,1,8,27,1,0,1,2,NaN,750.0,1916.0,4095.0,4095.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,750.0,650.0,892.0,1232.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27,1
2,0,1,1,1,9,19,2,0,0,4,NaN,750.0,1916.0,4095.0,4095.0,694.0,756.0,0.0,0.0,0.0,0.0,0.0,0.0,750.0,650.0,892.0,1232.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27,0
3,0,1,1,1,16,27,2,0,0,0,NaN,963.0,1657.0,4095.0,4095.0,694.0,756.0,0.0,0.0,0.0,0.0,0.0,0.0,750.0,650.0,892.0,1232.0,418.0,1608.0,0.0,0.0,0.0,0.0,0.0,0.0,27,1
4,0,1,1,1,17,19,2,7,0,3,NaN,963.0,1657.0,4095.0,4095.0,694.0,756.0,636.0,1080.0,0.0,0.0,0.0,0.0,750.0,650.0,4095.0,0.0,418.0,1608.0,0.0,0.0,0.0,0.0,0.0,0.0,27,0
5,0,1,1,1,18,27,2,6,1,0,NaN,963.0,1657.0,4095.0,4095.0,671.0,713.0,600.0,798.0,0.0,0.0,0.0,0.0,4095.0,0.0,4095.0,0.0,418.0,1608.0,590.0,1164.0,0.0,0.0,0.0,0.0,27,1
6,0,1,1,1,19,19,2,0,1,2,NaN,963.0,1657.0,4095.0,4095.0,671.0,684.0,600.0,798.0,830.0,648.0,0.0,0.0,4095.0,0.0,4095.0,0.0,418.0,1608.0,590.0,1164.0,0.0,0.0,0.0,0.0,27,0
7,0,1,1,1,20,27,2,0,1,4,NaN,963.0,1657.0,4095.0,4095.0,671.0,684.0,600.0,798.0,830.0,648.0,0.0,0.0,4095.0,0.0,4095.0,0.0,418.0,1608.0,590.0,1164.0,671.0,850.0,0.0,0.0,27,1
8,0,1,1,1,21,19,1,2,0,1,NaN,963.0,1657.0,4095.0,4095.0,671.0,684.0,600.0,798.0,830.0,648.0,866.0,1628.0,4095.0,0.0,4095.0,0.0,418.0,1608.0,590.0,1164.0,671.0,850.0,0.0,0.0,27,0
9,0,1,1,1,22,27,1,0,0,0,NaN,963.0,1657.0,4095.0,4095.0,671.0,684.0,600.0,798.0,830.0,648.0,866.0,1628.0,4095.0,0.0,4095.0,0.0,418.0,1608.0,590.0,1164.0,671.0,850.0,1031.0,496.0,27,1

In [23]:
stones.isna().mean().sort_values(ascending=False)

TimeOut          0.980015
stone_4_x        0.005385
stone_1_y        0.005385
stone_1_x        0.005385
stone_3_y        0.005385
stone_10_x       0.005385
stone_10_y       0.005385
stone_11_x       0.005385
stone_11_y       0.005385
stone_12_x       0.005385
stone_3_x        0.005385
stone_2_y        0.005385
stone_2_x        0.005385
stone_5_x        0.005385
stone_4_y        0.005385
stone_5_y        0.005385
stone_8_x        0.005385
stone_7_y        0.005385
stone_7_x        0.005385
stone_6_y        0.005385
stone_6_x        0.005385
stone_12_y       0.005385
stone_8_y        0.005385
stone_9_x        0.005385
stone_9_y        0.005385
CompetitionID    0.000000
EndID            0.000000
GameID           0.000000
SessionID        0.000000
ShotID           0.000000
Handle           0.000000
PlayerID         0.000000
TeamID           0.000000
Points           0.000000
Task             0.000000
Hammer_TeamID    0.000000
Has_Hammer       0.000000
dtype: float64

In [24]:
# Enforce deterministic ordering
stones = stones.sort_values(
    ["CompetitionID", "SessionID", "GameID", "EndID", "ShotID"]
)

# Basic integrity checks
print("Unique games:", stones["GameID"].nunique())
print("Unique ends:", stones[["GameID", "EndID"]].drop_duplicates().shape[0])
print("Shots per end (summary):")
stones.groupby(["GameID", "EndID"]).size().describe()

Unique games: 5
Unique ends: 45
Shots per end (summary):

count     45.000000
mean     586.000000
std      220.993624
min       50.000000
25%      540.000000
50%      630.000000
75%      770.000000
max      850.000000
dtype: float64

In [25]:
stones = stones.merge(
    ends[
        [
            "CompetitionID", "SessionID", "GameID",
            "EndID", "TeamID", "Result", "PowerPlay"
        ]
    ],
    on=["CompetitionID", "SessionID", "GameID", "EndID", "TeamID"],
    how="left"
)

stones[["Result", "PowerPlay"]].isna().mean()

Result       0.000000
PowerPlay    0.886614
dtype: float64

In [26]:
# Extract PowerPlay values that are actually present
end_powerplay = (
    stones
    .dropna(subset=["PowerPlay"])
    .groupby(["GameID", "EndID"])["PowerPlay"]
    .first()
    .reset_index()
)

# Ensure all ends are represented (including non–power play ends)
all_ends = stones[["GameID", "EndID"]].drop_duplicates()

end_powerplay = all_ends.merge(
    end_powerplay,
    on=["GameID", "EndID"],
    how="left"
)

# Sanity check
end_powerplay["PowerPlay"].value_counts(dropna=False)

PowerPlay
2.0    19
NaN    14
1.0    12
Name: count, dtype: int64

In [27]:
# Compare end counts by source for sanity check (19 + 14 + 12 = should be 45 total)
pd.DataFrame({
    "stones": [stones[["GameID", "EndID"]].drop_duplicates().shape[0]],
    "ends":   [ends[["GameID", "EndID"]].drop_duplicates().shape[0]],
    "power":  [end_powerplay.shape[0]]
})

   stones  ends  power
0      45    45     45

In [28]:
stones["team_shot_index"] = stones.groupby(
    ["CompetitionID", "SessionID", "GameID", "EndID", "TeamID"]
).cumcount() + 1

# Quick check
stones.groupby("team_shot_index").size().head(10)
stones.groupby(
    ["CompetitionID", "SessionID", "GameID", "EndID", "TeamID"]
)["team_shot_index"].max().value_counts()

team_shot_index
5    5272
6       1
4       1
Name: count, dtype: int64

In [29]:
example = stones[
    (stones["CompetitionID"] == stones["CompetitionID"].iloc[0]) &
    (stones["GameID"] == stones["GameID"].iloc[0]) &
    (stones["EndID"] == stones["EndID"].iloc[0])
].sort_values("ShotID")

example[["TeamID", "ShotID", "team_shot_index", "Task"]]

      TeamID  ShotID  team_shot_index  Task
0         19       7                1     0
340       46       7                1     0
830       10       7                1     0
660       24       7                1     0
1380      22       7                1     0
...      ...     ...              ...   ...
349       43      22                5     6
3589      24      22                5     0
3259      18      22                5     0
3739      27      22                5    10
3799      24      22                5     0

[160 rows x 4 columns]

In [30]:
opening_shots = stones[stones["team_shot_index"] <= 3]

print("Rows in opening_shots:", opening_shots.shape)
opening_shots.head()

Rows in opening_shots: (15822, 40)

,CompetitionID,SessionID,GameID,EndID,ShotID,TeamID,PlayerID,Task,Handle,Points,TimeOut,stone_1_x,stone_1_y,stone_2_x,stone_2_y,stone_3_x,stone_3_y,stone_4_x,stone_4_y,stone_5_x,stone_5_y,stone_6_x,stone_6_y,stone_7_x,stone_7_y,stone_8_x,stone_8_y,stone_9_x,stone_9_y,stone_10_x,stone_10_y,stone_11_x,stone_11_y,stone_12_x,stone_12_y,Hammer_TeamID,Has_Hammer,Result,PowerPlay,team_shot_index
0,0,1,1,1,7,19,1,0,0,0,NaN,750.0,1916.0,4095.0,4095.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,750.0,650.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27,0,0,NaN,1
1,0,1,1,1,8,27,1,0,1,2,NaN,750.0,1916.0,4095.0,4095.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,750.0,650.0,892.0,1232.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27,1,1,NaN,1
2,0,1,1,1,9,19,2,0,0,4,NaN,750.0,1916.0,4095.0,4095.0,694.0,756.0,0.0,0.0,0.0,0.0,0.0,0.0,750.0,650.0,892.0,1232.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27,0,0,NaN,2
3,0,1,1,1,16,27,2,0,0,0,NaN,963.0,1657.0,4095.0,4095.0,694.0,756.0,0.0,0.0,0.0,0.0,0.0,0.0,750.0,650.0,892.0,1232.0,418.0,1608.0,0.0,0.0,0.0,0.0,0.0,0.0,27,1,1,NaN,2
4,0,1,1,1,17,19,2,7,0,3,NaN,963.0,1657.0,4095.0,4095.0,694.0,756.0,636.0,1080.0,0.0,0.0,0.0,0.0,750.0,650.0,4095.0,0.0,418.0,1608.0,0.0,0.0,0.0,0.0,0.0,0.0,27,0,0,NaN,3

In [31]:
# Drop any duplicate rows first
opening_shots_unique = opening_shots.drop_duplicates(
    subset=["GameID", "EndID", "TeamID", "team_shot_index"]
)

# Now count opening shots per team per end
team_opening_counts = opening_shots_unique.groupby(
    ["GameID", "EndID", "TeamID"]
)["team_shot_index"].count()

team_opening_counts.value_counts().sort_index()

team_shot_index
3    1034
Name: count, dtype: int64

In [32]:
opening_shots_unique[["GameID", "EndID"]].drop_duplicates().shape[0]

45

In [33]:
example = opening_shots[
    (opening_shots["GameID"] == opening_shots["GameID"].iloc[0]) &
    (opening_shots["EndID"] == opening_shots["EndID"].iloc[0]) &
    (opening_shots["TeamID"] == opening_shots["TeamID"].iloc[0])
]

example[["ShotID", "team_shot_index", "Task", "PowerPlay"]]

       ShotID  team_shot_index  Task  PowerPlay
0           7                1     0        NaN
2           9                2     0        NaN
4          17                3     7        NaN
1141        8                1     0        NaN
1143       16                2     0        NaN
1145       18                3     0        NaN
2590        7                1     0        NaN
2592        9                2     0        NaN
2594       17                3     8        NaN
3580        7                1     0        NaN
3582        9                2     0        NaN
3584       17                3     0        NaN
3730        7                1     0        NaN
3732        9                2     0        NaN
3734       17                3     0        NaN
10340       7                1     0        NaN
10342       9                2     0        NaN
10344      17                3     2        NaN
14741       8                1     0        NaN
14743      16                2     0        NaN
14745      18                3     6        NaN
17080       7                1     0        NaN
17082       9                2     0        NaN
17084      17                3     0        NaN
18771       8                1     0        NaN
18773      16                2     3        NaN
18775      18                3     3        NaN
24871       8                1     0        NaN
24873      16                2     3        NaN
24875      18                3     3        NaN

In [34]:
# Sum points for the first 3 shots per team per end
opening_shots_points = opening_shots.groupby(
    ["CompetitionID", "SessionID", "GameID", "EndID", "TeamID"]
)["Points"].sum().reset_index()

opening_shots_points.rename(columns={"Points": "OpeningShotPoints"}, inplace=True)

# Quick check
opening_shots_points.head(10)

   CompetitionID  SessionID  GameID  EndID  TeamID  OpeningShotPoints
0              0          1       1      1      19                  7
1              0          1       1      1      27                  2
2              0          1       1      2      19                  2
3              0          1       1      2      27                 12
4              0          1       1      3      19                  7
5              0          1       1      3      27                 11
6              0          1       1      4      19                  6
7              0          1       1      4      27                  9
8              0          1       1      5      19                  9
9              0          1       1      5      27                  8

In [35]:
# Flag strong ends (e.g., ≥ 2 points in first 3 shots)
opening_shots_points["StrongOpening"] = opening_shots_points["OpeningShotPoints"] >= 2

# Count strong vs weak
opening_shots_points["StrongOpening"].value_counts()

StrongOpening
True     5256
False      18
Name: count, dtype: int64

In [36]:
# Merge PowerPlay info from ends table
# Make sure ends DataFrame has: CompetitionID, SessionID, GameID, EndID, TeamID, PowerPlay
# Here we assume ends DataFrame exists

# Keep only one row per team per end from stones to grab Has_Hammer
hammer_info = stones.drop_duplicates(
    subset=["CompetitionID", "SessionID", "GameID", "EndID", "TeamID"]
)[["CompetitionID", "SessionID", "GameID", "EndID", "TeamID", "Has_Hammer"]]

# Create a column indicating whether this team had the power play
opening_shots_points = opening_shots_points.merge(
    ends[["CompetitionID", "SessionID", "GameID", "EndID", "TeamID", "PowerPlay"]],
    on=["CompetitionID", "SessionID", "GameID", "EndID", "TeamID"],
    how="left"
)

# Merge into opening_shots_points
opening_shots_points = opening_shots_points.merge(
    hammer_info,
    on=["CompetitionID", "SessionID", "GameID", "EndID", "TeamID"],
    how="left"
)

# Boolean: did this team have the power play?
opening_shots_points["IsPowerPlayTeam"] = opening_shots_points["PowerPlay"].notna()
opening_shots_points["HasHammer"] = opening_shots_points["Has_Hammer"] == 1  # adjust depending on CSV

In [37]:
opening_shots_points.head()

,CompetitionID,SessionID,GameID,EndID,TeamID,OpeningShotPoints,StrongOpening,PowerPlay,Has_Hammer,IsPowerPlayTeam,HasHammer
0,0,1,1,1,19,7,True,NaN,0,False,False
1,0,1,1,1,27,2,True,NaN,1,False,True
2,0,1,1,2,19,2,True,NaN,1,False,True
3,0,1,1,2,27,12,True,NaN,0,False,False
4,0,1,1,3,19,7,True,NaN,0,False,False