In [239]:
import pandas as pd
import numpy as np
from math import sqrt

In [291]:
ends = pd.read_csv('/Users/brentkong/Documents/curling/data/Ends.csv')
games = pd.read_csv('/Users/brentkong/Documents/curling/data/Games.csv')
stones = pd.read_csv('/Users/brentkong/Documents/curling/data/Stones.csv')

In [312]:
stones["GameUID"] = stones["CompetitionID"].astype(str) + "_" + \
                    stones["SessionID"].astype(str) + "_" + \
                    stones["GameID"].astype(str)

stones["TeamEndUID"]   = stones["CompetitionID"].astype(str) + "_" + \
                    stones["SessionID"].astype(str) + "_" + \
                    stones["GameID"].astype(str) + "_" + \
                    stones["TeamID"].astype(str) + "_" + \
                    stones["EndID"].astype(str)

stones["TeamEndThrowUID"]   = stones["CompetitionID"].astype(str) + "_" + \
                    stones["SessionID"].astype(str) + "_" + \
                    stones["GameID"].astype(str) + "_" + \
                    stones["TeamID"].astype(str) + "_" + \
                    stones["EndID"].astype(str) + "_" + \
                    stones["ShotID"].astype(str)

ends["GameUID"]   = ends["CompetitionID"].astype(str) + "_" + \
                    ends["SessionID"].astype(str) + "_" + \
                    ends["GameID"].astype(str)

ends["TeamEndUID"]   = ends["CompetitionID"].astype(str) + "_" + \
                    ends["SessionID"].astype(str) + "_" + \
                    ends["GameID"].astype(str) + "_" + \
                    ends["TeamID"].astype(str) + "_" + \
                    ends["EndID"].astype(str)

games["GameUID"]  = games["CompetitionID"].astype(str) + "_" + \
                    games["SessionID"].astype(str) + "_" + \
                    games["GameID"].astype(str)

games["TeamUID_1"]  = games["CompetitionID"].astype(str) + "_" + \
                    games["SessionID"].astype(str) + "_" + \
                    games["GameID"].astype(str) + "_" + \
                    games["TeamID1"].astype(str)

games["TeamUID_2"]  = games["CompetitionID"].astype(str) + "_" + \
                    games["SessionID"].astype(str) + "_" + \
                    games["GameID"].astype(str) + "_" + \
                    games["TeamID2"].astype(str)

In [317]:
stones.iloc[0, :]

CompetitionID                 0
SessionID                     1
GameID                        1
EndID                         1
ShotID                        7
TeamID                       19
PlayerID                      1
Task                          0
Handle                        0
Points                        0
TimeOut                     NaN
stone_1_x                 750.0
stone_1_y                1916.0
stone_2_x                4095.0
stone_2_y                4095.0
stone_3_x                   0.0
stone_3_y                   0.0
stone_4_x                   0.0
stone_4_y                   0.0
stone_5_x                   0.0
stone_5_y                   0.0
stone_6_x                   0.0
stone_6_y                   0.0
stone_7_x                 750.0
stone_7_y                 650.0
stone_8_x                   0.0
stone_8_y                   0.0
stone_9_x                   0.0
stone_9_y                   0.0
stone_10_x                  0.0
stone_10_y                  0.0
stone_11_x                  0.0
stone_11_y                  0.0
stone_12_x                  0.0
stone_12_y                  0.0
GameUID                   0_1_1
TeamEndUID           0_1_1_19_1
TeamEndThrowUID    0_1_1_19_1_7
Name: 0, dtype: object

In [295]:
def add_hammer_ends():
    map = {}

    for i, row in games.iterrows():
        team_1_id = row['TeamUID_1']
        team_2_id = row['TeamUID_2']
        
        hammer_first_team = team_2_id
        
        game_ends = ends[ends['GameUID'] == row['GameUID']].sort_values('EndID')
        
        hammer = hammer_first_team
        for _, end_row in game_ends.iterrows():
            end_id = end_row['EndID']
            
            map[f"{team_1_id}_{end_id}"] = (hammer == team_1_id)
            map[f"{team_2_id}_{end_id}"] = (hammer == team_2_id)
            
            hammer = team_1_id if hammer == team_2_id else team_2_id

    ends['Hammer'] = ends['TeamEndUID'].map(map)



def add_cumulative_ends():
    map = {}
    
    ends['TeamGameID'] = ends.apply(
        lambda row: f"{row['CompetitionID']}_{row['SessionID']}_{row['GameID']}_{row['TeamID']}",
        axis=1
    )
    
    for team_game_id in ends['TeamGameID'].unique():
        team_ends = ends[ends['TeamGameID'] == team_game_id].sort_values('EndID')
        
        cumulative = 0
        for idx, row in team_ends.iterrows():
            cumulative += row['Result']
            map[row['TeamEndUID']] = cumulative
    
    ends['Cumulative'] = ends['TeamEndUID'].map(map)
    
    ends.drop('TeamGameID', axis=1, inplace=True)

add_hammer_ends()
add_cumulative_ends()

In [333]:
ends

,CompetitionID,SessionID,GameID,TeamID,EndID,Result,PowerPlay,GameUID,TeamEndUID,Hammer,Cumulative
0,0,1,1,19,1,0,NaN,0_1_1,0_1_1_19_1,True,0
1,0,1,1,27,1,1,NaN,0_1_1,0_1_1_27_1,False,1
2,0,1,1,19,2,2,NaN,0_1_1,0_1_1_19_2,True,2
3,0,1,1,27,2,0,NaN,0_1_1,0_1_1_27_2,False,1
4,0,1,1,19,3,0,NaN,0_1_1,0_1_1_19_3,True,2
...,...,...,...,...,...,...,...,...,...,...,...
5269,24250026,49,1,24,5,1,NaN,24250026_49_1,24250026_49_1_24_5,False,5
5270,24250026,49,1,14,6,3,2.0,24250026_49_1,24250026_49_1_14_6,True,4
5271,24250026,49,1,24,6,0,NaN,24250026_49_1,24250026_49_1_24_6,False,5
5272,24250026,49,1,14,7,0,NaN,24250026_49_1,24250026_49_1_14_7,True,4
5273,24250026,49,1,24,7,4,NaN,24250026_49_1,24250026_49_1_24_7,False,9

In [ ]:
def add_guard_house_stones():
    TeamEndUIDs = set(ends["TeamEndUID"].tolist())

    TeamEndUIDs = set(stones["TeamEndUID"].tolist())
    for uid in TeamEndUIDs:
        id = uid + "_" + str(7)
        print("Stone 1", stones.loc[stones["TeamEndThrowUID"] == id, "stone_1_x"])
        print("Stone 7", stones.loc[stones["TeamEndThrowUID"] == id, "stone_7_x"])
        
add_guard_house_stones()

Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 4460    750.0
Name: stone_1_x, dtype: float64
Stone 7 4460    750.0
Name: stone_7_x, dtype: float64
Stone 1 18520    433.0
Name: stone_1_x, dtype: float64
Stone 7 18520    315.0
Name: stone_7_x, dtype: float64
Stone 1 19140    748.0
Name: stone_1_x, dtype: float64
Stone 7 19140    750.0
Name: stone_7_x, dtype: float64
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 8680    750.0
Name: stone_1_x, dtype: float64
Stone 7 8680    770.0
Name: stone_7_x, dtype: float64
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 18550    750.0
Name: stone_1_x, dtype: float64
Stone 7 18550    716.0
Name: stone_7_x, dtype: float64
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 13390    750.0
Name: stone_1_x, dtype: float64
Stone 7 13390    750.0
Name: stone_7_x, dtype: float64
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 13740    750.0
Name: stone_1_x, dtype: float64
Stone 7 13740    750.0
Name: stone_7_x, dtype: float64
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 25630    750.0
Name: stone_1_x, dtype: float64
Stone 7 25630    745.0
Name: stone_7_x, dtype: float64
Stone 1 9900    750.0
Name: stone_1_x, dtype: float64
Stone 7 9900    627.0
Name: stone_7_x, dtype: float64
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 10440    750.0
Name: stone_1_x, dtype: float64
Stone 7 10440    739.0
Name: stone_7_x, dtype: float64
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 11240    1089.0
Name: stone_1_x, dtype: float64
Stone 7 11240    1070.0
Name: stone_7_x, dtype: float64
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 25180    350.0
Name: stone_1_x, dtype: float64
Stone 7 25180    411.0
Name: stone_7_x, dtype: float64
Stone 1 17610    750.0
Name: stone_1_x, dtype: float64
Stone 7 17610    750.0
Name: stone_7_x, dtype: float64
Stone 1 13070    1150.0
Name: stone_1_x, dtype: float64
Stone 7 13070    816.0
Name: stone_7_x, dtype: float64
Stone 1 3020    732.0
Name: stone_1_x, dtype: float64
Stone 7 3020    750.0
Name: stone_7_x, dtype: float64
Stone 1 5940    750.0
Name: stone_1_x, dtype: float64
Stone 7 5940    750.0
Name: stone_7_x, dtype: float64
Stone 1 7240    750.0
Name: stone_1_x, dtype: float64
Stone 7 7240    750.0
Name: stone_7_x, dtype: float64
Stone 1 24670    750.0
Name: stone_1_x, dtype: float64
Stone 7 24670    750.0
Name: stone_7_x, dtype: float64
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 16490    750.0
Name: stone_1_x, dtype: float64
Stone 7 16490    747.0
Name: stone_7_x, dtype: float64
Stone 1 14430    750.0
Name: stone_1_x, dtype: float64
Stone 7 14430    750.0
Name: stone_7_x, dtype: float64
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 18280    750.0
Name: stone_1_x, dtype: float64
Stone 7 18280    771.0
Name: stone_7_x, dtype: float64
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 1660    1150.0
Name: stone_1_x, dtype: float64
Stone 7 1660    973.0
Name: stone_7_x, dtype: float64
Stone 1 7430    750.0
Name: stone_1_x, dtype: float64
Stone 7 7430    750.0
Name: stone_7_x, dtype: float64
Stone 1 4770    411.0
Name: stone_1_x, dtype: float64
Stone 7 4770    350.0
Name: stone_7_x, dtype: float64
Stone 1 19150    750.0
Name: stone_1_x, dtype: float64
Stone 7 19150    750.0
Name: stone_7_x, dtype: float64
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 16810    750.0
Name: stone_1_x, dtype: float64
Stone 7 16810    750.0
Name: stone_7_x, dtype: float64
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 19930    1089.0
Name: stone_1_x, dtype: float64
Stone 7 19930    1150.0
Name: stone_7_x, dtype: float64
Stone 1 6220    750.0
Name: stone_1_x, dtype: float64
Stone 7 6220    750.0
Name: stone_7_x, dtype: float64
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 24930    411.0
Name: stone_1_x, dtype: float64
Stone 7 24930    350.0
Name: stone_7_x, dtype: float64
Stone 1 3340    750.0
Name: stone_1_x, dtype: float64
Stone 7 3340    750.0
Name: stone_7_x, dtype: float64
Stone 1 4550    1089.0
Name: stone_1_x, dtype: float64
Stone 7 4550    1150.0
Name: stone_7_x, dtype: float64
Stone 1 24950    750.0
Name: stone_1_x, dtype: float64
Stone 7 24950    750.0
Name: stone_7_x, dtype: float64
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 12500    329.0
Name: stone_1_x, dtype: float64
Stone 7 12500    411.0
Name: stone_7_x, dtype: float64
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 7980    750.0
Name: stone_1_x, dtype: float64
Stone 7 7980    750.0
Name: stone_7_x, dtype: float64
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 11390    750.0
Name: stone_1_x, dtype: float64
Stone 7 11390    750.0
Name: stone_7_x, dtype: float64
Stone 1 19820    750.0
Name: stone_1_x, dtype: float64
Stone 7 19820    750.0
Name: stone_7_x, dtype: float64
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 3190    750.0
Name: stone_1_x, dtype: float64
Stone 7 3190    750.0
Name: stone_7_x, dtype: float64
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 10430    750.0
Name: stone_1_x, dtype: float64
Stone 7 10430    750.0
Name: stone_7_x, dtype: float64
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 25100    350.0
Name: stone_1_x, dtype: float64
Stone 7 25100    411.0
Name: stone_7_x, dtype: float64
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 14140    750.0
Name: stone_1_x, dtype: float64
Stone 7 14140    750.0
Name: stone_7_x, dtype: float64
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 15500    750.0
Name: stone_1_x, dtype: float64
Stone 7 15500    750.0
Name: stone_7_x, dtype: float64
Stone 1 6470    750.0
Name: stone_1_x, dtype: float64
Stone 7 6470    750.0
Name: stone_7_x, dtype: float64
Stone 1 20970    786.0
Name: stone_1_x, dtype: float64
Stone 7 20970    750.0
Name: stone_7_x, dtype: float64
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 20300    750.0
Name: stone_1_x, dtype: float64
Stone 7 20300    800.0
Name: stone_7_x, dtype: float64
Stone 1 21210    750.0
Name: stone_1_x, dtype: float64
Stone 7 21210    750.0
Name: stone_7_x, dtype: float64
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 21970    750.0
Name: stone_1_x, dtype: float64
Stone 7 21970    750.0
Name: stone_7_x, dtype: float64
Stone 1 5850    761.0
Name: stone_1_x, dtype: float64
Stone 7 5850    750.0
Name: stone_7_x, dtype: float64
Stone 1 14520    751.0
Name: stone_1_x, dtype: float64
Stone 7 14520    750.0
Name: stone_7_x, dtype: float64
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 3890    750.0
Name: stone_1_x, dtype: float64
Stone 7 3890    750.0
Name: stone_7_x, dtype: float64
Stone 1 6460    750.0
Name: stone_1_x, dtype: float64
Stone 7 6460    750.0
Name: stone_7_x, dtype: float64
Stone 1 2740    750.0
Name: stone_1_x, dtype: float64
Stone 7 2740    750.0
Name: stone_7_x, dtype: float64
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 13510    750.0
Name: stone_1_x, dtype: float64
Stone 7 13510    750.0
Name: stone_7_x, dtype: float64
Stone 1 9330    750.0
Name: stone_1_x, dtype: float64
Stone 7 9330    750.0
Name: stone_7_x, dtype: float64
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 930    750.0
Name: stone_1_x, dtype: float64
Stone 7 930    746.0
Name: stone_7_x, dtype: float64
Stone 1 1130    750.0
Name: stone_1_x, dtype: float64
Stone 7 1130    750.0
Name: stone_7_x, dtype: float64
Stone 1 9650    1159.0
Name: stone_1_x, dtype: float64
Stone 7 9650    1089.0
Name: stone_7_x, dtype: float64
Stone 1 9580    750.0
Name: stone_1_x, dtype: float64
Stone 7 9580    753.0
Name: stone_7_x, dtype: float64
Stone 1 19960    750.0
Name: stone_1_x, dtype: float64
Stone 7 19960    750.0
Name: stone_7_x, dtype: float64
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 2880    492.0
Name: stone_1_x, dtype: float64
Stone 7 2880    350.0
Name: stone_7_x, dtype: float64
Stone 1 6110    750.0
Name: stone_1_x, dtype: float64
Stone 7 6110    750.0
Name: stone_7_x, dtype: float64
Stone 1 23180    750.0
Name: stone_1_x, dtype: float64
Stone 7 23180    750.0
Name: stone_7_x, dtype: float64
Stone 1 3540    350.0
Name: stone_1_x, dtype: float64
Stone 7 3540    411.0
Name: stone_7_x, dtype: float64
Stone 1 12510    1089.0
Name: stone_1_x, dtype: float64
Stone 7 12510    1150.0
Name: stone_7_x, dtype: float64
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 22090    750.0
Name: stone_1_x, dtype: float64
Stone 7 22090    750.0
Name: stone_7_x, dtype: float64
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 25530    350.0
Name: stone_1_x, dtype: float64
Stone 7 25530    411.0
Name: stone_7_x, dtype: float64
Stone 1 2090    750.0
Name: stone_1_x, dtype: float64
Stone 7 2090    745.0
Name: stone_7_x, dtype: float64
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 1020    750.0
Name: stone_1_x, dtype: float64
Stone 7 1020    750.0
Name: stone_7_x, dtype: float64
Stone 1 14700    1089.0
Name: stone_1_x, dtype: float64
Stone 7 14700    823.0
Name: stone_7_x, dtype: float64
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 950    750.0
Name: stone_1_x, dtype: float64
Stone 7 950    750.0
Name: stone_7_x, dtype: float64
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 13040    753.0
Name: stone_1_x, dtype: float64
Stone 7 13040    750.0
Name: stone_7_x, dtype: float64
Stone 1 9190    750.0
Name: stone_1_x, dtype: float64
Stone 7 9190    750.0
Name: stone_7_x, dtype: float64
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 22770    750.0
Name: stone_1_x, dtype: float64
Stone 7 22770    750.0
Name: stone_7_x, dtype: float64
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 7250    750.0
Name: stone_1_x, dtype: float64
Stone 7 7250    750.0
Name: stone_7_x, dtype: float64
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 11560    1150.0
Name: stone_1_x, dtype: float64
Stone 7 11560    1089.0
Name: stone_7_x, dtype: float64
Stone 1 18730    350.0
Name: stone_1_x, dtype: float64
Stone 7 18730    411.0
Name: stone_7_x, dtype: float64
Stone 1 5650    750.0
Name: stone_1_x, dtype: float64
Stone 7 5650    750.0
Name: stone_7_x, dtype: float64
Stone 1 24820    750.0
Name: stone_1_x, dtype: float64
Stone 7 24820    750.0
Name: stone_7_x, dtype: float64
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 10190    750.0
Name: stone_1_x, dtype: float64
Stone 7 10190    750.0
Name: stone_7_x, dtype: float64
Stone 1 13010    750.0
Name: stone_1_x, dtype: float64
Stone 7 13010    750.0
Name: stone_7_x, dtype: float64
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 24910    1150.0
Name: stone_1_x, dtype: float64
Stone 7 24910    613.0
Name: stone_7_x, dtype: float64
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 21890    1150.0
Name: stone_1_x, dtype: float64
Stone 7 21890    1089.0
Name: stone_7_x, dtype: float64
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 2540    750.0
Name: stone_1_x, dtype: float64
Stone 7 2540    750.0
Name: stone_7_x, dtype: float64
Stone 1 20420    750.0
Name: stone_1_x, dtype: float64
Stone 7 20420    750.0
Name: stone_7_x, dtype: float64
Stone 1 3970    750.0
Name: stone_1_x, dtype: float64
Stone 7 3970    750.0
Name: stone_7_x, dtype: float64
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 14980    750.0
Name: stone_1_x, dtype: float64
Stone 7 14980    751.0
Name: stone_7_x, dtype: float64
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 25030    787.0
Name: stone_1_x, dtype: float64
Stone 7 25030    750.0
Name: stone_7_x, dtype: float64
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 4710    750.0
Name: stone_1_x, dtype: float64
Stone 7 4710    761.0
Name: stone_7_x, dtype: float64
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 10120    750.0
Name: stone_1_x, dtype: float64
Stone 7 10120    750.0
Name: stone_7_x, dtype: float64
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 20150    1150.0
Name: stone_1_x, dtype: float64
Stone 7 20150    1089.0
Name: stone_7_x, dtype: float64
Stone 1 16930    750.0
Name: stone_1_x, dtype: float64
Stone 7 16930    750.0
Name: stone_7_x, dtype: float64
Stone 1 9560    1150.0
Name: stone_1_x, dtype: float64
Stone 7 9560    1089.0
Name: stone_7_x, dtype: float64
Stone 1 1970    1089.0
Name: stone_1_x, dtype: float64
Stone 7 1970    1150.0
Name: stone_7_x, dtype: float64
Stone 1 Series([], Name: stone_1_x, dtype: float64)
Stone 7 Series([], Name: stone_7_x, dtype: float64)
Stone 1 8750    350.0
Name: stone_1_x, dtype: float64
Stone 7 8750    129.0
Name: stone_7_x, dtype: float64
Stone 1 Series([], Name: stone_1_x, dtype: float64)

In [336]:
ends

,CompetitionID,SessionID,GameID,TeamID,EndID,Result,PowerPlay,GameUID,TeamEndUID,Hammer,Cumulative
0,0,1,1,19,1,0,NaN,0_1_1,0_1_1_19_1,True,0
1,0,1,1,27,1,1,NaN,0_1_1,0_1_1_27_1,False,1
2,0,1,1,19,2,2,NaN,0_1_1,0_1_1_19_2,True,2
3,0,1,1,27,2,0,NaN,0_1_1,0_1_1_27_2,False,1
4,0,1,1,19,3,0,NaN,0_1_1,0_1_1_19_3,True,2
...,...,...,...,...,...,...,...,...,...,...,...
5269,24250026,49,1,24,5,1,NaN,24250026_49_1,24250026_49_1_24_5,False,5
5270,24250026,49,1,14,6,3,2.0,24250026_49_1,24250026_49_1_14_6,True,4
5271,24250026,49,1,24,6,0,NaN,24250026_49_1,24250026_49_1_24_6,False,5
5272,24250026,49,1,14,7,0,NaN,24250026_49_1,24250026_49_1_14_7,True,4
5273,24250026,49,1,24,7,4,NaN,24250026_49_1,24250026_49_1_24_7,False,9

stone 1 -> team 1
stone 7 -> team 2

hammer --> 7-12
if you have the hammer, do you put your stone in the house or in the guard?

if you have hammer, y

In [341]:
def dist_to_button(x, y):
    return sqrt((x - 750)**2 + (y - 800)**2)

def add_guard_house_stones():
    TeamEndUIDs = set(stones["TeamEndUID"].tolist())
    for uid in TeamEndUIDs:
        id = uid + "_" + str(7)
        print(id, stones.loc[stones["TeamEndThrowUID"] == id, "stone_1_x"])
        #print("Stone 7", stones.loc[stones["TeamEndThrowUID"] == id, "stone_7_x"])
        
add_guard_house_stones()

24250026_16_1_16_5_7 Series([], Name: stone_1_x, dtype: float64)
24250026_3_5_14_4_7 Series([], Name: stone_1_x, dtype: float64)
24250026_4_2_17_8_7 Series([], Name: stone_1_x, dtype: float64)
22230015_2_3_18_4_7 4460    750.0
Name: stone_1_x, dtype: float64
23240026_45_2_46_8_7 18520    433.0
Name: stone_1_x, dtype: float64
24250026_1_5_19_1_7 19140    748.0
Name: stone_1_x, dtype: float64
22230015_1_3_10_1_7 Series([], Name: stone_1_x, dtype: float64)
22230015_13_4_46_5_7 8680    750.0
Name: stone_1_x, dtype: float64
0_10_2_43_6_7 Series([], Name: stone_1_x, dtype: float64)
24250026_8_1_30_8_7 Series([], Name: stone_1_x, dtype: float64)
24250026_17_4_15_3_7 Series([], Name: stone_1_x, dtype: float64)
24250026_10_5_51_6_7 Series([], Name: stone_1_x, dtype: float64)
24250026_17_5_14_5_7 Series([], Name: stone_1_x, dtype: float64)
22230015_16_2_51_6_7 Series([], Name: stone_1_x, dtype: float64)
23240026_46_1_17_3_7 18550    750.0
Name: stone_1_x, dtype: float64
22230015_7_4_44_4_7 Series([], Name: stone_1_x, dtype: float64)
23240026_6_2_14_8_7 13390    750.0
Name: stone_1_x, dtype: float64
24250026_15_3_24_6_7 Series([], Name: stone_1_x, dtype: float64)
23240026_4_1_30_3_7 Series([], Name: stone_1_x, dtype: float64)
22230015_5_2_44_5_7 Series([], Name: stone_1_x, dtype: float64)
23240026_7_2_51_5_7 13740    750.0
Name: stone_1_x, dtype: float64
24250026_14_3_51_2_7 Series([], Name: stone_1_x, dtype: float64)
22230015_2_4_51_6_7 Series([], Name: stone_1_x, dtype: float64)
23240026_7_2_18_5_7 Series([], Name: stone_1_x, dtype: float64)
24250026_18_5_20_1_7 25630    750.0
Name: stone_1_x, dtype: float64
22230015_16_5_17_3_7 9900    750.0
Name: stone_1_x, dtype: float64
22230015_10_3_16_1_7 Series([], Name: stone_1_x, dtype: float64)
22230015_18_2_28_3_7 10440    750.0
Name: stone_1_x, dtype: float64
22230015_5_2_11_6_7 Series([], Name: stone_1_x, dtype: float64)
22230015_48_1_17_6_7 11240    1089.0
Name: stone_1_x, dtype: float64
22230015_46_1_10_2_7 Series([], Name: stone_1_x, dtype: float64)
22230015_3_4_11_5_7 Series([], Name: stone_1_x, dtype: float64)
24250026_17_4_15_7_7 25180    350.0
Name: stone_1_x, dtype: float64
23240026_17_3_34_1_7 17610    750.0
Name: stone_1_x, dtype: float64
23240026_5_3_18_7_7 13070    1150.0
Name: stone_1_x, dtype: float64
0_12_2_19_2_7 3020    732.0
Name: stone_1_x, dtype: float64
22230015_6_2_16_8_7 5940    750.0
Name: stone_1_x, dtype: float64
22230015_9_5_24_3_7 7240    750.0
Name: stone_1_x, dtype: float64
24250026_16_3_17_4_7 24670    750.0
Name: stone_1_x, dtype: float64
0_4_3_43_2_7 Series([], Name: stone_1_x, dtype: float64)
24250026_7_5_15_2_7 Series([], Name: stone_1_x, dtype: float64)
23240026_14_3_20_7_7 16490    750.0
Name: stone_1_x, dtype: float64
23240026_9_2_17_2_7 14430    750.0
Name: stone_1_x, dtype: float64
24250026_3_3_11_7_7 Series([], Name: stone_1_x, dtype: float64)
23240026_13_5_18_2_7 Series([], Name: stone_1_x, dtype: float64)
22230015_8_5_15_2_7 Series([], Name: stone_1_x, dtype: float64)
23240026_41_1_37_9_7 18280    750.0
Name: stone_1_x, dtype: float64
24250026_11_4_24_3_7 Series([], Name: stone_1_x, dtype: float64)
22230015_1_3_14_7_7 Series([], Name: stone_1_x, dtype: float64)
22230015_16_4_34_7_7 Series([], Name: stone_1_x, dtype: float64)
22230015_4_2_15_4_7 Series([], Name: stone_1_x, dtype: float64)
0_6_4_20_6_7 1660    1150.0
Name: stone_1_x, dtype: float64
22230015_10_2_20_6_7 7430    750.0
Name: stone_1_x, dtype: float64
22230015_3_2_36_6_7 4770    411.0
Name: stone_1_x, dtype: float64
24250026_1_5_11_2_7 19150    750.0
Name: stone_1_x, dtype: float64
0_6_1_24_1_7 Series([], Name: stone_1_x, dtype: float64)
23240026_15_2_18_8_7 16810    750.0
Name: stone_1_x, dtype: float64
23240026_2_1_14_3_7 Series([], Name: stone_1_x, dtype: float64)
24250026_3_5_43_7_7 19930    1089.0
Name: stone_1_x, dtype: float64
22230015_7_1_37_5_7 6220    750.0
Name: stone_1_x, dtype: float64
22230015_10_3_28_6_7 Series([], Name: stone_1_x, dtype: float64)
22230015_10_1_17_8_7 Series([], Name: stone_1_x, dtype: float64)
0_5_3_24_5_7 Series([], Name: stone_1_x, dtype: float64)
24250026_17_1_12_7_7 24930    411.0
Name: stone_1_x, dtype: float64
0_13_2_24_2_7 3340    750.0
Name: stone_1_x, dtype: float64
22230015_2_4_51_7_7 4550    1089.0
Name: stone_1_x, dtype: float64
24250026_17_2_24_1_7 24950    750.0
Name: stone_1_x, dtype: float64
0_13_1_18_7_7 Series([], Name: stone_1_x, dtype: float64)
22230015_17_5_10_4_7 Series([], Name: stone_1_x, dtype: float64)
24250026_9_5_25_7_7 Series([], Name: stone_1_x, dtype: float64)
23240026_3_5_51_6_7 12500    329.0
Name: stone_1_x, dtype: float64
24250026_15_1_14_1_7 Series([], Name: stone_1_x, dtype: float64)
24250026_2_4_22_6_7 Series([], Name: stone_1_x, dtype: float64)
23240026_2_2_43_8_7 Series([], Name: stone_1_x, dtype: float64)
22230015_9_3_22_1_7 Series([], Name: stone_1_x, dtype: float64)
22230015_11_5_11_3_7 7980    750.0
Name: stone_1_x, dtype: float64
23240026_14_5_30_4_7 Series([], Name: stone_1_x, dtype: float64)
23240026_1_1_11_6_7 11390    750.0
Name: stone_1_x, dtype: float64
24250026_3_4_19_3_7 19820    750.0
Name: stone_1_x, dtype: float64
22230015_17_4_46_4_7 Series([], Name: stone_1_x, dtype: float64)
22230015_41_2_17_4_7 Series([], Name: stone_1_x, dtype: float64)
0_12_4_17_3_7 3190    750.0
Name: stone_1_x, dtype: float64
23240026_6_1_20_3_7 Series([], Name: stone_1_x, dtype: float64)
22230015_18_2_28_2_7 10430    750.0
Name: stone_1_x, dtype: float64
23240026_48_1_18_2_7 Series([], Name: stone_1_x, dtype: float64)
23240026_12_4_10_3_7 Series([], Name: stone_1_x, dtype: float64)
24250026_17_3_11_7_7 25100    350.0
Name: stone_1_x, dtype: float64
24250026_6_4_30_2_7 Series([], Name: stone_1_x, dtype: float64)
24250026_16_5_51_4_7 Series([], Name: stone_1_x, dtype: float64)
22230015_14_4_17_2_7 Series([], Name: stone_1_x, dtype: float64)
24250026_7_5_15_1_7 Series([], Name: stone_1_x, dtype: float64)
23240026_8_3_46_1_7 14140    750.0
Name: stone_1_x, dtype: float64
22230015_9_2_37_6_7 Series([], Name: stone_1_x, dtype: float64)
22230015_12_2_17_6_7 Series([], Name: stone_1_x, dtype: float64)
23240026_12_1_44_3_7 15500    750.0
Name: stone_1_x, dtype: float64
22230015_7_4_14_7_7 6470    750.0
Name: stone_1_x, dtype: float64
24250026_6_4_30_6_7 20970    786.0
Name: stone_1_x, dtype: float64
22230015_14_3_15_6_7 Series([], Name: stone_1_x, dtype: float64)
24250026_4_5_46_8_7 20300    750.0
Name: stone_1_x, dtype: float64
24250026_7_3_19_1_7 21210    750.0
Name: stone_1_x, dtype: float64
22230015_9_3_22_6_7 Series([], Name: stone_1_x, dtype: float64)
24250026_9_2_11_5_7 21970    750.0
Name: stone_1_x, dtype: float64
22230015_6_1_23_6_7 5850    761.0
Name: stone_1_x, dtype: float64
23240026_9_3_13_3_7 14520    751.0
Name: stone_1_x, dtype: float64
24250026_8_4_51_3_7 Series([], Name: stone_1_x, dtype: float64)
24250026_7_4_10_5_7 Series([], Name: stone_1_x, dtype: float64)
22230015_1_1_44_3_7 3890    750.0
Name: stone_1_x, dtype: float64
22230015_7_4_44_6_7 6460    750.0
Name: stone_1_x, dtype: float64
0_11_2_46_8_7 2740    750.0
Name: stone_1_x, dtype: float64
23240026_6_1_43_4_7 Series([], Name: stone_1_x, dtype: float64)
22230015_1_4_24_4_7 Series([], Name: stone_1_x, dtype: float64)
23240026_6_4_19_3_7 13510    750.0
Name: stone_1_x, dtype: float64
22230015_15_2_24_8_7 9330    750.0
Name: stone_1_x, dtype: float64
22230015_41_2_37_8_7 Series([], Name: stone_1_x, dtype: float64)
0_4_2_18_3_7 930    750.0
Name: stone_1_x, dtype: float64
0_4_4_46_7_7 1130    750.0
Name: stone_1_x, dtype: float64
22230015_16_1_18_8_7 9650    1159.0
Name: stone_1_x, dtype: float64
22230015_16_1_15_1_7 9580    750.0
Name: stone_1_x, dtype: float64
24250026_4_1_18_2_7 19960    750.0
Name: stone_1_x, dtype: float64
24250026_9_5_12_3_7 Series([], Name: stone_1_x, dtype: float64)
23240026_7_4_11_2_7 Series([], Name: stone_1_x, dtype: float64)
23240026_45_1_51_3_7 Series([], Name: stone_1_x, dtype: float64)
0_48_1_19_2_7 Series([], Name: stone_1_x, dtype: float64)
0_11_4_10_6_7 2880    492.0
Name: stone_1_x, dtype: float64
22230015_6_5_17_2_7 6110    750.0
Name: stone_1_x, dtype: float64
24250026_12_3_22_5_7 23180    750.0
Name: stone_1_x, dtype: float64
0_13_4_43_5_7 3540    350.0
Name: stone_1_x, dtype: float64
23240026_3_5_34_7_7 12510    1089.0
Name: stone_1_x, dtype: float64
23240026_17_2_37_7_7 Series([], Name: stone_1_x, dtype: float64)
24250026_4_2_16_7_7 Series([], Name: stone_1_x, dtype: float64)
24250026_9_4_43_3_7 22090    750.0
Name: stone_1_x, dtype: float64
23240026_10_4_46_6_7 Series([], Name: stone_1_x, dtype: float64)
24250026_6_4_30_3_7 Series([], Name: stone_1_x, dtype: float64)
22230015_18_4_17_1_7 Series([], Name: stone_1_x, dtype: float64)
24250026_4_5_20_2_7 Series([], Name: stone_1_x, dtype: float64)
24250026_18_3_30_8_7 25530    350.0
Name: stone_1_x, dtype: float64
0_8_4_46_5_7 2090    750.0
Name: stone_1_x, dtype: float64
24250026_16_2_22_3_7 Series([], Name: stone_1_x, dtype: float64)
22230015_13_5_44_4_7 Series([], Name: stone_1_x, dtype: float64)
0_4_3_19_4_7 1020    750.0
Name: stone_1_x, dtype: float64
23240026_9_5_18_5_7 14700    1089.0
Name: stone_1_x, dtype: float64
23240026_7_2_51_3_7 Series([], Name: stone_1_x, dtype: float64)
0_4_2_18_5_7 950    750.0
Name: stone_1_x, dtype: float64
23240026_9_4_16_8_7 Series([], Name: stone_1_x, dtype: float64)
23240026_5_3_18_4_7 13040    753.0
Name: stone_1_x, dtype: float64
22230015_15_1_36_3_7 9190    750.0
Name: stone_1_x, dtype: float64
23240026_9_3_11_3_7 Series([], Name: stone_1_x, dtype: float64)
24250026_10_2_30_2_7 Series([], Name: stone_1_x, dtype: float64)
24250026_11_3_12_2_7 22770    750.0
Name: stone_1_x, dtype: float64
23240026_3_5_34_6_7 Series([], Name: stone_1_x, dtype: float64)
22230015_9_3_44_7_7 Series([], Name: stone_1_x, dtype: float64)
22230015_9_5_14_4_7 7250    750.0
Name: stone_1_x, dtype: float64
24250026_5_1_25_4_7 Series([], Name: stone_1_x, dtype: float64)
23240026_7_2_51_6_7 Series([], Name: stone_1_x, dtype: float64)
23240026_1_3_37_7_7 11560    1150.0
Name: stone_1_x, dtype: float64
23240026_48_1_18_5_7 18730    350.0
Name: stone_1_x, dtype: float64
22230015_5_4_37_1_7 5650    750.0
Name: stone_1_x, dtype: float64
24250026_16_5_18_3_7 24820    750.0
Name: stone_1_x, dtype: float64
22230015_6_3_51_1_7 Series([], Name: stone_1_x, dtype: float64)
22230015_17_4_36_2_7 10190    750.0
Name: stone_1_x, dtype: float64
23240026_5_3_15_1_7 13010    750.0
Name: stone_1_x, dtype: float64
24250026_4_4_37_3_7 Series([], Name: stone_1_x, dtype: float64)
24250026_17_1_19_5_7 24910    1150.0
Name: stone_1_x, dtype: float64
22230015_12_5_15_3_7 Series([], Name: stone_1_x, dtype: float64)
24250026_9_1_44_5_7 21890    1150.0
Name: stone_1_x, dtype: float64
24250026_13_2_14_4_7 Series([], Name: stone_1_x, dtype: float64)
24250026_7_1_11_3_7 Series([], Name: stone_1_x, dtype: float64)
0_10_2_43_4_7 2540    750.0
Name: stone_1_x, dtype: float64
24250026_5_2_19_4_7 20420    750.0
Name: stone_1_x, dtype: float64
22230015_1_2_25_4_7 3970    750.0
Name: stone_1_x, dtype: float64
24250026_48_1_46_3_7 Series([], Name: stone_1_x, dtype: float64)
23240026_10_4_43_5_7 14980    750.0
Name: stone_1_x, dtype: float64
22230015_18_1_19_8_7 Series([], Name: stone_1_x, dtype: float64)
24250026_17_2_25_9_7 25030    787.0
Name: stone_1_x, dtype: float64
24250026_8_3_18_4_7 Series([], Name: stone_1_x, dtype: float64)
22230015_12_4_18_3_7 Series([], Name: stone_1_x, dtype: float64)
23240026_2_5_46_3_7 Series([], Name: stone_1_x, dtype: float64)
22230015_3_1_46_6_7 4710    750.0
Name: stone_1_x, dtype: float64
24250026_17_5_14_6_7 Series([], Name: stone_1_x, dtype: float64)
22230015_17_3_25_3_7 10120    750.0
Name: stone_1_x, dtype: float64
23240026_5_2_11_5_7 Series([], Name: stone_1_x, dtype: float64)
24250026_4_3_34_5_7 20150    1150.0
Name: stone_1_x, dtype: float64
23240026_15_4_34_2_7 16930    750.0
Name: stone_1_x, dtype: float64
22230015_15_5_46_7_7 9560    1150.0
Name: stone_1_x, dtype: float64
0_8_2_22_7_7 1970    1089.0
Name: stone_1_x, dtype: float64
22230015_10_5_51_1_7 Series([], Name: stone_1_x, dtype: float64)
22230015_13_5_24_6_7 8750    350.0
Name: stone_1_x, dtype: float64
24250026_1_3_25_4_7 Series([], Name: stone_1_x, dtype: float64)
23240026_10_2_22_2_7 Series([], Name: stone_1_x, dtype: float64)
22230015_18_2_28_5_7 10460    750.0
Name: stone_1_x, dtype: float64
22230015_15_3_22_1_7 9340    750.0
Name: stone_1_x, dtype: float64
24250026_45_2_22_1_7 Series([], Name: stone_1_x, dtype: float64)
23240026_11_3_18_1_7 Series([], Name: stone_1_x, dtype: float64)
24250026_7_3_44_3_7 21230    750.0
Name: stone_1_x, dtype: float64
22230015_9_5_24_6_7 Series([], Name: stone_1_x, dtype: float64)
24250026_18_3_30_1_7 Series([], Name: stone_1_x, dtype: float64)
24250026_13_3_25_5_7 23540    493.0
Name: stone_1_x, dtype: float64
0_9_2_17_4_7 2240    750.0
Name: stone_1_x, dtype: float64
22230015_11_2_44_2_7 Series([], Name: stone_1_x, dtype: float64)
23240026_12_4_19_6_7 Series([], Name: stone_1_x, dtype: float64)
22230015_12_1_23_1_7 8050    750.0
Name: stone_1_x, dtype: float64
22230015_10_5_51_7_7 7640    1178.0
Name: stone_1_x, dtype: float64
24250026_8_3_18_5_7 21640    760.0
Name: stone_1_x, dtype: float64
23240026_8_3_46_3_7 14160    710.0
Name: stone_1_x, dtype: float64
24250026_46_3_20_7_7 Series([], Name: stone_1_x, dtype: float64)
22230015_1_2_46_6_7 3990    750.0
Name: stone_1_x, dtype: float64
23240026_15_1_15_4_7 16690    750.0
Name: stone_1_x, dtype: float64
24250026_11_2_10_2_7 22700    750.0
Name: stone_1_x, dtype: float64
22230015_13_4_46_4_7 Series([], Name: stone_1_x, dtype: float64)
24250026_16_4_46_4_7 24760    750.0
Name: stone_1_x, dtype: float64
22230015_8_1_20_4_7 6590    750.0
Name: stone_1_x, dtype: float64
22230015_45_2_28_6_7 11000    750.0
Name: stone_1_x, dtype: float64
24250026_4_1_22_6_7 20000    1150.0
Name: stone_1_x, dtype: float64
22230015_46_1_20_1_7 11030    750.0
Name: stone_1_x, dtype: float64
23240026_10_4_43_2_7 Series([], Name: stone_1_x, dtype: float64)
24250026_4_5_20_3_7 20250    750.0
Name: stone_1_x, dtype: float64
22230015_1_5_11_2_7 4190    750.0
Name: stone_1_x, dtype: float64
22230015_8_2_18_6_7 Series([], Name: stone_1_x, dtype: float64)
22230015_4_1_17_1_7 5020    750.0
Name: stone_1_x, dtype: float64
22230015_49_1_20_1_7 11270    770.0
Name: stone_1_x, dtype: float64
23240026_6_2_46_8_7 Series([], Name: stone_1_x, dtype: float64)
23240026_6_4_44_4_7 13520    750.0
Name: stone_1_x, dtype: float64
23240026_48_1_17_3_7 Series([], Name: stone_1_x, dtype: float64)
0_11_1_17_4_7 2620    750.0
Name: stone_1_x, dtype: float64
22230015_14_4_17_6_7 9060    737.0
Name: stone_1_x, dtype: float64
22230015_1_2_46_4_7 Series([], Name: stone_1_x, dtype: float64)
22230015_2_5_19_1_7 Series([], Name: stone_1_x, dtype: float64)
0_5_2_18_8_7 Series([], Name: stone_1_x, dtype: float64)
22230015_14_3_23_7_7 9000    1089.0
Name: stone_1_x, dtype: float64
24250026_6_2_34_2_7 Series([], Name: stone_1_x, dtype: float64)
23240026_17_3_17_4_7 Series([], Name: stone_1_x, dtype: float64)
22230015_8_2_51_4_7 Series([], Name: stone_1_x, dtype: float64)
0_11_1_17_2_7 2600    750.0
Name: stone_1_x, dtype: float64
22230015_3_5_10_3_7 4960    750.0
Name: stone_1_x, dtype: float64
23240026_1_5_17_1_7 11660    750.0
Name: stone_1_x, dtype: float64
23240026_3_4_37_6_7 Series([], Name: stone_1_x, dtype: float64)
23240026_17_5_51_8_7 17840    750.0
Name: stone_1_x, dtype: float64
23240026_45_2_46_6_7 18500    750.0
Name: stone_1_x, dtype: float64
24250026_17_1_12_1_7 24870    750.0
Name: stone_1_x, dtype: float64
22230015_5_3_24_5_7 Series([], Name: stone_1_x, dtype: float64)
0_6_3_46_9_7 1600    713.0
Name: stone_1_x, dtype: float64
0_6_1_22_2_7 Series([], Name: stone_1_x, dtype: float64)
22230015_6_5_17_6_7 Series([], Name: stone_1_x, dtype: float64)
24250026_41_2_20_6_7 25820    750.0
Name: stone_1_x, dtype: float64
0_1_4_43_9_7 Series([], Name: stone_1_x, dtype: float64)
22230015_46_1_10_6_7 Series([], Name: stone_1_x, dtype: float64)
0_8_3_10_3_7 Series([], Name: stone_1_x, dtype: float64)
22230015_3_3_37_1_7 4800    750.0
Name: stone_1_x, dtype: float64
24250026_15_4_43_1_7 24320    750.0
Name: stone_1_x, dtype: float64
22230015_8_3_17_6_7 Series([], Name: stone_1_x, dtype: float64)
24250026_2_3_20_1_7 Series([], Name: stone_1_x, dtype: float64)
24250026_5_3_15_7_7 Series([], Name: stone_1_x, dtype: float64)
24250026_9_5_25_4_7 Series([], Name: stone_1_x, dtype: float64)
24250026_10_3_34_7_7 Series([], Name: stone_1_x, dtype: float64)
24250026_13_3_25_1_7 Series([], Name: stone_1_x, dtype: float64)
23240026_45_1_22_2_7 Series([], Name: stone_1_x, dtype: float64)
23240026_18_2_10_4_7 17940    750.0
Name: stone_1_x, dtype: float64
22230015_2_3_18_3_7 4450    749.0
Name: stone_1_x, dtype: float64
22230015_6_1_34_5_7 5840    746.0
Name: stone_1_x, dtype: float64
24250026_14_5_34_2_7 24040    750.0
Name: stone_1_x, dtype: float64
22230015_3_1_46_3_7 4680    750.0
Name: stone_1_x, dtype: float64
24250026_9_5_25_8_7 Series([], Name: stone_1_x, dtype: float64)
0_2_4_27_1_7 580    750.0
Name: stone_1_x, dtype: float64
0_6_3_46_2_7 Series([], Name: stone_1_x, dtype: float64)
22230015_15_3_22_5_7 Series([], Name: stone_1_x, dtype: float64)
0_13_2_10_9_7 Series([], Name: stone_1_x, dtype: float64)
22230015_1_5_37_6_7 Series([], Name: stone_1_x, dtype: float64)
24250026_18_1_37_7_7 Series([], Name: stone_1_x, dtype: float64)
0_2_3_20_4_7 Series([], Name: stone_1_x, dtype: float64)
22230015_3_2_22_5_7 4760    1150.0
Name: stone_1_x, dtype: float64
23240026_3_2_13_7_7 12270    350.0
Name: stone_1_x, dtype: float64
0_46_1_19_4_7 Series([], Name: stone_1_x, dtype: float64)
23240026_17_3_34_5_7 Series([], Name: stone_1_x, dtype: float64)
24250026_18_4_16_8_7 Series([], Name: stone_1_x, dtype: float64)
23240026_1_1_15_6_7 Series([], Name: stone_1_x, dtype: float64)
23240026_17_1_16_6_7 17500    1150.0
Name: stone_1_x, dtype: float64
24250026_15_4_10_7_7 Series([], Name: stone_1_x, dtype: float64)
23240026_1_2_24_2_7 11430    750.0
Name: stone_1_x, dtype: float64
0_2_1_46_6_7 Series([], Name: stone_1_x, dtype: float64)
0_2_2_19_1_7 Series([], Name: stone_1_x, dtype: float64)
22230015_9_3_22_4_7 7090    750.0
Name: stone_1_x, dtype: float64
22230015_15_5_14_6_7 9550    356.0
Name: stone_1_x, dtype: float64
22230015_10_3_28_1_7 7440    750.0
Name: stone_1_x, dtype: float64
23240026_14_2_46_2_7 Series([], Name: stone_1_x, dtype: float64)
22230015_13_5_24_8_7 Series([], Name: stone_1_x, dtype: float64)
24250026_13_1_24_4_7 Series([], Name: stone_1_x, dtype: float64)
24250026_16_4_34_3_7 24750    750.0
Name: stone_1_x, dtype: float64
24250026_10_5_22_4_7 Series([], Name: stone_1_x, dtype: float64)
23240026_15_1_15_7_7 Series([], Name: stone_1_x, dtype: float64)
22230015_2_5_19_4_7 4600    744.0
Name: stone_1_x, dtype: float64
23240026_12_2_14_7_7 Series([], Name: stone_1_x, dtype: float64)
24250026_8_2_22_3_7 Series([], Name: stone_1_x, dtype: float64)
23240026_2_5_44_2_7 Series([], Name: stone_1_x, dtype: float64)
0_5_2_10_7_7 Series([], Name: stone_1_x, dtype: float64)
23240026_6_1_20_2_7 Series([], Name: stone_1_x, dtype: float64)
24250026_46_2_46_8_7 26150    1089.0
Name: stone_1_x, dtype: float64
23240026_17_2_37_8_7 17600    750.0
Name: stone_1_x, dtype: float64
23240026_17_5_51_5_7 Series([], Name: stone_1_x, dtype: float64)
22230015_17_1_11_8_7 Series([], Name: stone_1_x, dtype: float64)
24250026_1_1_10_4_7 18880    750.0
Name: stone_1_x, dtype: float64
23240026_18_2_20_1_7 Series([], Name: stone_1_x, dtype: float64)
0_48_1_19_3_7 3750    750.0
Name: stone_1_x, dtype: float64
23240026_13_5_18_1_7 Series([], Name: stone_1_x, dtype: float64)
0_11_3_43_4_7 2780    750.0
Name: stone_1_x, dtype: float64
23240026_11_4_13_2_7 Series([], Name: stone_1_x, dtype: float64)
22230015_2_5_20_6_7 4620    448.0
Name: stone_1_x, dtype: float64
23240026_17_4_24_5_7 17730    750.0
Name: stone_1_x, dtype: float64
24250026_15_5_44_4_7 24430    750.0

In [337]:
stones.iloc[0:20, :]

,CompetitionID,SessionID,GameID,EndID,ShotID,TeamID,PlayerID,Task,Handle,Points,...,stone_9_y,stone_10_x,stone_10_y,stone_11_x,stone_11_y,stone_12_x,stone_12_y,GameUID,TeamEndUID,TeamEndThrowUID
0,0,1,1,1,7,19,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0_1_1,0_1_1_19_1,0_1_1_19_1_7
1,0,1,1,1,8,27,1,0,1,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0_1_1,0_1_1_27_1,0_1_1_27_1_8
2,0,1,1,1,9,19,2,0,0,4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0_1_1,0_1_1_19_1,0_1_1_19_1_9
3,0,1,1,1,16,27,2,0,0,0,...,1608.0,0.0,0.0,0.0,0.0,0.0,0.0,0_1_1,0_1_1_27_1,0_1_1_27_1_16
4,0,1,1,1,17,19,2,7,0,3,...,1608.0,0.0,0.0,0.0,0.0,0.0,0.0,0_1_1,0_1_1_19_1,0_1_1_19_1_17
5,0,1,1,1,18,27,2,6,1,0,...,1608.0,590.0,1164.0,0.0,0.0,0.0,0.0,0_1_1,0_1_1_27_1,0_1_1_27_1_18
6,0,1,1,1,19,19,2,0,1,2,...,1608.0,590.0,1164.0,0.0,0.0,0.0,0.0,0_1_1,0_1_1_19_1,0_1_1_19_1_19
7,0,1,1,1,20,27,2,0,1,4,...,1608.0,590.0,1164.0,671.0,850.0,0.0,0.0,0_1_1,0_1_1_27_1,0_1_1_27_1_20
8,0,1,1,1,21,19,1,2,0,1,...,1608.0,590.0,1164.0,671.0,850.0,0.0,0.0,0_1_1,0_1_1_19_1,0_1_1_19_1_21
9,0,1,1,1,22,27,1,0,0,0,...,1608.0,590.0,1164.0,671.0,850.0,1031.0,496.0,0_1_1,0_1_1_27_1,0_1_1_27_1_22
10,0,1,1,2,7,27,1,0,0,4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0_1_1,0_1_1_27_2,0_1_1_27_2_7
11,0,1,1,2,8,19,1,0,0,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0_1_1,0_1_1_19_2,0_1_1_19_2_8
12,0,1,1,2,9,27,2,0,0,4,...,944.0,0.0,0.0,0.0,0.0,0.0,0.0,0_1_1,0_1_1_27_2,0_1_1_27_2_9
13,0,1,1,2,16,19,2,6,0,0,...,432.0,0.0,0.0,0.0,0.0,0.0,0.0,0_1_1,0_1_1_19_2,0_1_1_19_2_16
14,0,1,1,2,17,27,2,0,0,4,...,432.0,700.0,863.0,0.0,0.0,0.0,0.0,0_1_1,0_1_1_27_2,0_1_1_27_2_17
15,0,1,1,2,18,19,2,9,0,0,...,432.0,700.0,863.0,0.0,0.0,0.0,0.0,0_1_1,0_1_1_19_2,0_1_1_19_2_18
16,0,1,1,2,19,27,2,0,0,4,...,432.0,702.0,853.0,673.0,944.0,0.0,0.0,0_1_1,0_1_1_27_2,0_1_1_27_2_19
17,0,1,1,2,20,19,2,9,0,4,...,432.0,4095.0,0.0,580.0,905.0,0.0,0.0,0_1_1,0_1_1_19_2,0_1_1_19_2_20
18,0,1,1,2,21,27,1,2,0,0,...,432.0,4095.0,0.0,580.0,905.0,719.0,1440.0,0_1_1,0_1_1_27_2,0_1_1_27_2_21
19,0,1,1,2,22,19,1,6,0,4,...,432.0,4095.0,0.0,4095.0,0.0,719.0,1440.0,0_1_1,0_1_1_19_2,0_1_1_19_2_22

In [300]:
stones.iloc[20][11:35]

stone_1_x      750.0
stone_1_y     1916.0
stone_2_x      657.0
stone_2_y     1832.0
stone_3_x        0.0
stone_3_y        0.0
stone_4_x        0.0
stone_4_y        0.0
stone_5_x        0.0
stone_5_y        0.0
stone_6_x        0.0
stone_6_y        0.0
stone_7_x      750.0
stone_7_y      650.0
stone_8_x        0.0
stone_8_y        0.0
stone_9_x        0.0
stone_9_y        0.0
stone_10_x       0.0
stone_10_y       0.0
stone_11_x       0.0
stone_11_y       0.0
stone_12_x       0.0
stone_12_y       0.0
Name: 20, dtype: object

### Stone Geometry Features

In [250]:
stones.columns

Index(['CompetitionID', 'SessionID', 'GameID', 'EndID', 'ShotID', 'TeamID',
       'PlayerID', 'Task', 'Handle', 'Points', 'TimeOut', 'stone_1_x',
       'stone_1_y', 'stone_2_x', 'stone_2_y', 'stone_3_x', 'stone_3_y',
       'stone_4_x', 'stone_4_y', 'stone_5_x', 'stone_5_y', 'stone_6_x',
       'stone_6_y', 'stone_7_x', 'stone_7_y', 'stone_8_x', 'stone_8_y',
       'stone_9_x', 'stone_9_y', 'stone_10_x', 'stone_10_y', 'stone_11_x',
       'stone_11_y', 'stone_12_x', 'stone_12_y', 'GameUID'],
      dtype='object')

In [ ]:


def ideal_guard_error(x, side):
    ideal = 1200 if side == 1 else 300
    return abs(x - ideal)

def open_lane_proxy(df, side):
    corridor = 1200 if side == 1 else 300
    others = df[~df["Stone_1_x"].isin([0, 4095])]
    if others.empty:
        return 750
    return others["Stone_1_x"].apply(lambda x: abs(x - corridor)).min()

In [252]:
stones.iloc[:, 11:34]

,stone_1_x,stone_1_y,stone_2_x,stone_2_y,stone_3_x,stone_3_y,stone_4_x,stone_4_y,stone_5_x,stone_5_y,...,stone_7_y,stone_8_x,stone_8_y,stone_9_x,stone_9_y,stone_10_x,stone_10_y,stone_11_x,stone_11_y,stone_12_x
0,750.0,1916.0,4095.0,4095.0,0.0,0.0,0.0,0.0,0.0,0.0,...,650.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,750.0,1916.0,4095.0,4095.0,0.0,0.0,0.0,0.0,0.0,0.0,...,650.0,892.0,1232.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,750.0,1916.0,4095.0,4095.0,694.0,756.0,0.0,0.0,0.0,0.0,...,650.0,892.0,1232.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,963.0,1657.0,4095.0,4095.0,694.0,756.0,0.0,0.0,0.0,0.0,...,650.0,892.0,1232.0,418.0,1608.0,0.0,0.0,0.0,0.0,0.0
4,963.0,1657.0,4095.0,4095.0,694.0,756.0,636.0,1080.0,0.0,0.0,...,650.0,4095.0,0.0,418.0,1608.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26365,4095.0,0.0,4095.0,0.0,429.0,179.0,4095.0,0.0,0.0,0.0,...,0.0,901.0,470.0,787.0,2001.0,500.0,567.0,0.0,0.0,0.0
26366,4095.0,0.0,4095.0,0.0,429.0,179.0,4095.0,0.0,760.0,1152.0,...,0.0,901.0,470.0,787.0,2001.0,500.0,567.0,0.0,0.0,0.0
26367,4095.0,0.0,4095.0,0.0,429.0,179.0,4095.0,0.0,4095.0,0.0,...,0.0,901.0,470.0,787.0,2001.0,500.0,567.0,272.0,797.0,0.0
26368,4095.0,0.0,4095.0,0.0,429.0,179.0,4095.0,0.0,4095.0,0.0,...,0.0,901.0,470.0,787.0,2001.0,500.0,567.0,272.0,797.0,0.0
26369,4095.0,0.0,4095.0,0.0,429.0,179.0,4095.0,0.0,4095.0,0.0,...,0.0,901.0,470.0,1028.0,760.0,500.0,567.0,272.0,797.0,807.0